/* static/styles.css */
/* Estilos customizados podem ser adicionados aqui, se necessário */
body {
    padding-top: 56px; /* Para evitar que o conteúdo fique atrás da navbar */
}



/* Estilização adicional para que os cartões ocupem a largura completa em telas grandes e pequenas */
.container-fluid {
    max-width: 100%; /* Ajuste para expandir ao máximo */
}
.card {
    width: 100%; /* Ocupa toda a largura disponível */
}
/* Em telas muito pequenas, empilha os cards em uma coluna única */
@media (max-width: 768px) {
    .card {
        margin: 0;
    }
}


/* Define a largura mínima para os campos de entrada */
.fixed-input {
    min-width: 100px;
}
/* Responsividade para tabelas */
.table-responsive input[type="number"] {
    min-width: 90px; /* Define uma largura mínima para os inputs */
}

/* Estilo para a coluna fixa */
.sticky-col {
    position: -webkit-sticky; /* Suporte para Safari */
    position: sticky;
    left: 0;
    background-color: #f8f9fa; /* Cor de fundo para a coluna fixa */
    z-index: 2; /* Garantir que a coluna fixa fique acima das outras células */
}

/* Estilo para o cabeçalho da coluna fixa */
.sticky-col-header {
    position: -webkit-sticky; /* Suporte para Safari */
    position: sticky;
    left: 0;
    background-color: #e9ecef; /* Cor de fundo para o cabeçalho */
    z-index: 3; /* Z-index mais alto para o cabeçalho */
}

/* Ajuste para a célula no canto superior esquerdo */
.sticky-col-header-first {
    z-index: 5;
}