<!-- templates/tecelagem.html -->
{% extends 'base.html' %}
{% block title %}Plano de Fixação e Acabamento - PCP Game{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h2 class="text-center mb-5">Plano de Fixação e Acabamento</h2>
    <p class="fs-1 fw-bolder">Você está atualmente no período {{ periodo_atual }}.</p>

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Card para Capacidade Necessária -->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h4>Capacidade Necessária</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Período</th>
                            {% for period in periods %}
                                <th>{{ period }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Capacidade Disponível</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="capacidade_disponivel_1_{{ period }}" 
                                           value="{{ capacidade_disponivel['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Capacidade Necessária</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="capacidade_necessaria_{{ period }}" 
                                           value="{{ capacidade_necessaria['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Colméia</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="colmeia_horas_{{ period }}" 
                                           value="{{ colmeia_horas['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Piquet</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="piquet_horas_{{ period }}" 
                                           value="{{ piquet_horas['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Maxim</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="maxim_horas_{{ period }}" 
                                           value="{{ maxim_horas['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Setup</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="setup_{{ period }}" 
                                           value="{{ setup['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Produtividade</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="produtividade_{{ period }}" 
                                           value="{{ produtividade['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Card para Capacidade Disponível -->
        <div class="card mb-4">
            <div class="card-header bg-info text-white">
                <h4>Capacidade Disponível</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Período</th>
                            {% for period in periods %}
                                <th>{{ period }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Capacidade Disponível</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="capacidade_disponivel_2_{{ period }}" 
                                           value="{{ capacidade_disponivel['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Capacidade Instalada</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="capacidade_instalada_{{ period }}" 
                                           value="{{ capacidade_instalada['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Número de Turnos</th>
                            {% for period in periods %}
                                <td>
                                    {% if period <= periodo_atual %}
                                        <input type="number" class="form-control numero-turnos" 
                                               id="numero_turnos_{{ period }}"
                                               name="{{ numero_turnos['Ramas'][period].name }}"
                                               value="{{ numero_turnos['Ramas'][period].data }}" readonly>
                                    {% else %}
                                        {{ numero_turnos['Ramas'][period](class="form-control numero-turnos", id="numero_turnos_" ~ period) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Capacidade Terceirizada</th>
                            {% for period in periods %}
                                <td>
                                    {% if period <= periodo_atual %}
                                        <input type="number" class="form-control" 
                                               id="capacidade_terceirizada_{{ period }}"
                                               name="{{ capacidade_teceirizada['Ramas'][period].name }}"
                                               value="{{ capacidade_teceirizada['Ramas'][period].data|int }}" readonly>
                                    {% else %}
                                        {{ capacidade_teceirizada['Ramas'][period](class="form-control capacidade-terceirizada", id="capacidade_terceirizada_" ~ period, step=70) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Card para Ampliações e Reduções -->
        <div class="card mb-4">
            <div class="card-header bg-secondary text-white">
                <h4>Ampliações e Reduções</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Período</th>
                            {% for period in periods %}
                                <th>{{ period }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Quantidade</th>
                            {% for period in periods %}
                                <td>
                                    <input type="number" class="form-control" 
                                           id="quantidade_{{ period }}"
                                           name="{{ quantidade['Ramas'][period].name }}"
                                           value="{{ quantidade['Ramas'][period].data }}" readonly>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Ampliações</th>
                            {% for period in periods %}
                                <td>
                                    {% if period <= periodo_atual %}
                                        <input type="number" class="form-control" 
                                               id="ampliacoes_{{ period }}"
                                               name="{{ ampliacoes['Ramas'][period].name }}"
                                               value="{{ ampliacoes['Ramas'][period].data|int }}" readonly>
                                    {% else %}
                                        {{ ampliacoes['Ramas'][period](class="form-control", id="ampliacoes_" ~ period, step=1) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Reduções</th>
                            {% for period in periods %}
                                <td>
                                    {% if period <= periodo_atual %}
                                        <input type="number" class="form-control" 
                                               id="reducoes_{{ period }}"
                                               name="{{ reducoes['Ramas'][period].name }}"
                                               value="{{ reducoes['Ramas'][period].data|int }}" readonly>
                                    {% else %}
                                        {{ reducoes['Ramas'][period](class="form-control", id="reducoes_" ~ period, step=1) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Botão de ação destacado -->
        <div class="text-center mb-4">
            <button type="submit" class="btn btn-lg btn-success">Salvar Plano de Ramas</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const periods = JSON.parse('{{ periods|tojson }}');
        let periodo_atual = parseInt('{{ periodo_atual }}');
        const capacidadeTerceirizadaInicial = {};
        const quantidadeInicial = {};

        // Salvar o valor inicial de capacidade terceirizada e quantidade para cada período
        periods.forEach(function(period) {
            const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);
            const quantidadeInput = document.getElementById(`quantidade_${period}`);

            if (capacidadeTerceirizadaInput && quantidadeInput) {
                capacidadeTerceirizadaInicial[period] = parseInt(capacidadeTerceirizadaInput.value) || 0;
                quantidadeInicial[period] = parseInt(quantidadeInput.value) || 0;
            }
        });

        // Função para recalcular quantidades considerando ampliações e reduções
        function recalcularQuantidades() {
            // Primeiro, recalcular quantidades para todos os períodos futuros
            periods.forEach(function(p) {
                if (p >= periodo_atual) {
                    let quantidadeBase = parseInt(quantidadeInicial[p]) || 0;

                    // Acumular ampliações que afetam o período atual (lead time de 3 períodos)
                    let totalAmpliacoes = 0;
                    periods.forEach(function(prevPeriod) {
                        if (prevPeriod < p && (parseInt(prevPeriod) + 3) <= p) {
                            const prevAmpliacoesInput = document.getElementById(`ampliacoes_${prevPeriod}`);
                            if (prevAmpliacoesInput) {
                                totalAmpliacoes += parseInt(prevAmpliacoesInput.value) || 0;
                            }
                        }
                    });

                    // Acumular reduções que afetam o período atual (lead time de 3 períodos)
                    let totalReducoes = 0;
                    periods.forEach(function(prevPeriod) {
                        if (prevPeriod < p && (parseInt(prevPeriod) + 3) <= p) {
                            const prevReducoesInput = document.getElementById(`reducoes_${prevPeriod}`);
                            if (prevReducoesInput) {
                                totalReducoes += parseInt(prevReducoesInput.value) || 0;
                            }
                        }
                    });

                    const quantidadeInput = document.getElementById(`quantidade_${p}`);
                    if (quantidadeInput) {
                        // Calcular a nova quantidade considerando ampliações e reduções
                        let novaQuantidade = quantidadeBase + totalAmpliacoes - totalReducoes;
                        // Evitar que a quantidade fique negativa
                        if (novaQuantidade < 0) {
                            novaQuantidade = 0;
                        }
                        quantidadeInput.value = novaQuantidade;
                    }
                }
            });

            // Depois, recalcular capacidades
            recalcularCapacidadeDisponivel();
        }

        // Função para recalcular a capacidade disponível considerando turnos, quantidade de máquinas e capacidade terceirizada
        function recalcularCapacidadeDisponivel() {
            periods.forEach(function(period) {
                const turnosInput = document.getElementById(`numero_turnos_${period}`);
                const quantidadeInput = document.getElementById(`quantidade_${period}`);
                const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);
                const capacidadeInstaladaInput = document.getElementById(`capacidade_instalada_${period}`);
                const capacidadeDisponivelInput1 = document.getElementById(`capacidade_disponivel_1_${period}`);
                const capacidadeDisponivelInput2 = document.getElementById(`capacidade_disponivel_2_${period}`);

                if (turnosInput && quantidadeInput && capacidadeTerceirizadaInput && capacidadeDisponivelInput1 && capacidadeDisponivelInput2 && capacidadeInstaladaInput) {
                    let numeroTurnos = parseInt(turnosInput.value) || 0;
                    let quantidade = parseInt(quantidadeInput.value) || 0;
                    let capacidadeTerceirizadaAtual = parseInt(capacidadeTerceirizadaInput.value) || 0;

                    // Calcular capacidade instalada
                    let capacidadeInstalada = quantidade * numeroTurnos * 7 * 20; // Ajuste o fator conforme necessário
                    capacidadeInstaladaInput.value = capacidadeInstalada;

                    // Calcular capacidade disponível
                    let capacidadeDisponivel = capacidadeInstalada + capacidadeTerceirizadaAtual;
                    capacidadeDisponivelInput1.value = capacidadeDisponivel;
                    capacidadeDisponivelInput2.value = capacidadeDisponivel;
                }
            });
        }

        // Adicionar event listeners para os inputs de número de turnos, capacidade terceirizada, quantidade, ampliações e reduções
        periods.forEach(function(period) {
            const turnosInput = document.getElementById(`numero_turnos_${period}`);
            const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);
            const quantidadeInput = document.getElementById(`quantidade_${period}`);
            const ampliacoesInput = document.getElementById(`ampliacoes_${period}`);
            const reducoesInput = document.getElementById(`reducoes_${period}`);

            if (turnosInput) {
                turnosInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            if (capacidadeTerceirizadaInput) {
                capacidadeTerceirizadaInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            if (quantidadeInput) {
                quantidadeInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            if (ampliacoesInput) {
                ampliacoesInput.addEventListener('input', recalcularQuantidades);
            }

            if (reducoesInput) {
                reducoesInput.addEventListener('input', recalcularQuantidades);
            }
        });

        // Inicialmente calcular a capacidade disponível ao carregar a página
        recalcularQuantidades();
    });
</script>




{% endblock %}
