<!-- templates/purga_tinturaria.html -->
{% extends 'base.html' %}
{% block title %}Plano de Purga e Tinturaria - PCP Game{% endblock %}
{% block content %}
<h2 class="mb-4">Plano de Purga e Tinturaria</h2>
<p>Você está atualmente no período {{ periodo_atual }}.</p>
<form method="POST">
    {{ form.hidden_tag() }}

    <!-- Tabela Capacidade Necessária -->
    <h4>Capacidade Necessária</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                {% for period in periods %}
                    <th>{{ period }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Capacidade Disponível</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_disponivel_1_{{ period }}" 
                           value="{{ capacidade_disponivel['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Necessária</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_necessaria_{{ period }}" 
                           value="{{ capacidade_necessaria['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Colméia</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="colmeia_horas_{{ period }}" 
                           value="{{ colmeia_horas['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Piquet</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="piquet_horas_{{ period }}" 
                           value="{{ piquet_horas['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Maxim</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="maxim_horas_{{ period }}" 
                           value="{{ maxim_horas['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Setup</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="setup_{{ period }}" 
                           value="{{ setup['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Produtividade</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="produtividade_{{ period }}" 
                           value="{{ produtividade['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <!-- Tabela Capacidade Disponível -->
    <h4>Capacidade Disponível</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                {% for period in periods %}
                    <th>{{ period }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Capacidade Disponível</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_disponivel_2_{{ period }}" 
                           value="{{ capacidade_disponivel['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Instalada Jet 1</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_instalada_jet1_{{ period }}" 
                           value="{{ capacidade_instalada_jet1['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Instalada Jet 2</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_instalada_jet2_{{ period }}" 
                           value="{{ capacidade_instalada_jet2['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Instalada Jet 3</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_instalada_jet3_{{ period }}" 
                           value="{{ capacidade_instalada_jet3['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Número de Turnos</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <!-- Campo somente leitura para períodos passados -->
                    <input type="number" class="form-control numero-turnos" 
                           id="numero_turnos_{{ period }}"
                           name="{{ numero_turnos['Jet'][period].name }}"
                           value="{{ numero_turnos['Jet'][period].data }}" readonly>
                    {% else %}
                        {{ numero_turnos['Jet'][period](class="form-control numero-turnos", id="numero_turnos_" ~ period) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Terceirizada</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="capacidade_terceirizada_{{ period }}"
                           name="{{ capacidade_teceirizada['Jet'][period].name }}"
                           value="{{ capacidade_teceirizada['Jet'][period].data }}" readonly>
                    {% else %}
                        {{ capacidade_teceirizada['Jet'][period](class="form-control capacidade-terceirizada", id="capacidade_terceirizada_" ~ period, step=11200) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <!-- Tabela Capacidade Futura -->
    <h4>Ampliações e Reduções</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                {% for period in periods %}
                    <th>{{ period }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Linha para Quantidade -->
            <tr>
                <th>Quantidade Jet 1</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="quantidade_jet1_{{ period }}"
                           name="{{ quantidade_jet1['Jet'][period].name }}"
                           value="{{ quantidade_jet1['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <!-- Linha para Ampliações Jet1 -->
            <tr>
                <th>Ampliações Jet 1</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <!-- Campo somente leitura para períodos passados -->
                    <input type="number" class="form-control" 
                           id="ampliacoes_jet1_{{ period }}"
                           name="{{ ampliacoes_jet1['Jet'][period].name }}"
                           value="{{ ampliacoes_jet1['Jet'][period].data|int }}" readonly>
                    {% else %}
                        {{ ampliacoes_jet1['Jet'][period](class="form-control", id="ampliacoes_jet1_" ~ period, step=1, max=3) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>

            <!-- Linha para Reduções Jet1 -->
            <tr>
                <th>Reduções Jet 1</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="reducoes_jet1_{{ period }}"
                           name="{{ reducoes_jet1['Jet'][period].name }}"
                           value="{{ reducoes_jet1['Jet'][period].data|int }}" readonly>
                    {% else %}
                        {{ reducoes_jet1['Jet'][period](class="form-control", id="reducoes_jet1_" ~ period, step=1, max=3) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>

            <!-- Linha para Quantidade -->
            <tr>
                <th>Quantidade Jet 2</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="quantidade_jet2_{{ period }}"
                           name="{{ quantidade_jet2['Jet'][period].name }}"
                           value="{{ quantidade_jet2['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <!-- Linha para Ampliações Jet2 -->
            <tr>
                <th>Ampliações Jet 2</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="ampliacoes_jet2_{{ period }}"
                           name="{{ ampliacoes_jet2['Jet'][period].name }}"
                           value="{{ ampliacoes_jet2['Jet'][period].data|int }}" readonly>
                    {% else %}
                        {{ ampliacoes_jet2['Jet'][period](class="form-control", id="ampliacoes_jet2_" ~ period, step=1, max=3) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>

            <!-- Linha para Reduções Jet2 -->
            <tr>
                <th>Reduções Jet 2</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="reducoes_jet2_{{ period }}"
                           name="{{ reducoes_jet2['Jet'][period].name }}"
                           value="{{ reducoes_jet2['Jet'][period].data|int }}" readonly>
                    {% else %}
                        {{ reducoes_jet2['Jet'][period](class="form-control", id="reducoes_jet2_" ~ period, step=1, max=3) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <!-- Linha para Quantidade -->
            <tr>
                <th>Quantidade Jet 3</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="quantidade_jet3_{{ period }}"
                           name="{{ quantidade_jet3['Jet'][period].name }}"
                           value="{{ quantidade_jet3['Jet'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <!-- Linha para Ampliações Jet3 -->
            <tr>
                <th>Ampliações Jet 3</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="ampliacoes_jet3_{{ period }}"
                           name="{{ ampliacoes_jet3['Jet'][period].name }}"
                           value="{{ ampliacoes_jet3['Jet'][period].data|int }}" readonly>
                    {% else %}
                        {{ ampliacoes_jet3['Jet'][period](class="form-control", id="ampliacoes_jet3_" ~ period, step=1, max=3) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>

            <!-- Linha para Reduções Jet3 -->
            <tr>
                <th>Reduções Jet 3</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="reducoes_jet3_{{ period }}"
                           name="{{ reducoes_jet3['Jet'][period].name }}"
                           value="{{ reducoes_jet3['Jet'][period].data|int }}" readonly>
                    {% else %}
                        {{ reducoes_jet3['Jet'][period](class="form-control", id="reducoes_jet3_" ~ period, step=1, max=3) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <!-- Botão para submeter o formulário -->
    <button type="submit" class="btn btn-primary">Salvar Plano de Jet</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const periods = JSON.parse('{{ periods|tojson }}');
        let periodo_atual = parseInt('{{ periodo_atual }}');
        const capacidadeTerceirizadaInicial = {};
        const quantidadeInicialJet1 = {};
        const quantidadeInicialJet2 = {};
        const quantidadeInicialJet3 = {};

        // Salvar o valor inicial de capacidade terceirizada e quantidades para cada tipo de Jet e período
        periods.forEach(function(period) {
            const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);
            const quantidadeJet1Input = document.getElementById(`quantidade_jet1_${period}`);
            const quantidadeJet2Input = document.getElementById(`quantidade_jet2_${period}`);
            const quantidadeJet3Input = document.getElementById(`quantidade_jet3_${period}`);

            if (capacidadeTerceirizadaInput && quantidadeJet1Input && quantidadeJet2Input && quantidadeJet3Input) {
                capacidadeTerceirizadaInicial[period] = parseInt(capacidadeTerceirizadaInput.value) || 0;
                quantidadeInicialJet1[period] = parseInt(quantidadeJet1Input.value) || 0;
                quantidadeInicialJet2[period] = parseInt(quantidadeJet2Input.value) || 0;
                quantidadeInicialJet3[period] = parseInt(quantidadeJet3Input.value) || 0;
            }
        });

        // Função para recalcular quantidades considerando ampliações e reduções para cada tipo de Jet
        function recalcularQuantidades() {
            // Primeiro, recalcular quantidades para todos os períodos futuros
            periods.forEach(function(p) {
                if (p >= periodo_atual) {
                    // Quantidades base para cada tipo de Jet
                    let quantidadeBaseJet1 = parseInt(quantidadeInicialJet1[p]) || 0;
                    let quantidadeBaseJet2 = parseInt(quantidadeInicialJet2[p]) || 0;
                    let quantidadeBaseJet3 = parseInt(quantidadeInicialJet3[p]) || 0;

                    // Acumular ampliações e reduções para Jet1
                    let totalAmpliacoesJet1 = 0;
                    let totalReducoesJet1 = 0;
                    periods.forEach(function(prevPeriod) {
                        if (prevPeriod < p) {
                            // Ampliações para Jet1 com lead time de 3 períodos
                            if ((parseInt(prevPeriod) + 3) <= p) {
                                const prevAmpliacoesInput = document.getElementById(`ampliacoes_jet1_${prevPeriod}`);
                                if (prevAmpliacoesInput) {
                                    totalAmpliacoesJet1 += parseInt(prevAmpliacoesInput.value) || 0;
                                }
                            }
                            // Reduções para Jet1 com lead time de 2 períodos
                            if ((parseInt(prevPeriod) + 2) <= p) {
                                const prevReducoesInput = document.getElementById(`reducoes_jet1_${prevPeriod}`);
                                if (prevReducoesInput) {
                                    totalReducoesJet1 += parseInt(prevReducoesInput.value) || 0;
                                }
                            }
                        }
                    });
                    // Calcular nova quantidade para Jet1
                    let novaQuantidadeJet1 = quantidadeBaseJet1 + totalAmpliacoesJet1 - totalReducoesJet1;
                    if (novaQuantidadeJet1 < 0) novaQuantidadeJet1 = 0;

                    // Repetir para Jet2
                    let totalAmpliacoesJet2 = 0;
                    let totalReducoesJet2 = 0;
                    periods.forEach(function(prevPeriod) {
                        if (prevPeriod < p) {
                            if ((parseInt(prevPeriod) + 3) <= p) {
                                const prevAmpliacoesInput = document.getElementById(`ampliacoes_jet2_${prevPeriod}`);
                                if (prevAmpliacoesInput) {
                                    totalAmpliacoesJet2 += parseInt(prevAmpliacoesInput.value) || 0;
                                }
                            }
                            if ((parseInt(prevPeriod) + 2) <= p) {
                                const prevReducoesInput = document.getElementById(`reducoes_jet2_${prevPeriod}`);
                                if (prevReducoesInput) {
                                    totalReducoesJet2 += parseInt(prevReducoesInput.value) || 0;
                                }
                            }
                        }
                    });
                    let novaQuantidadeJet2 = quantidadeBaseJet2 + totalAmpliacoesJet2 - totalReducoesJet2;
                    if (novaQuantidadeJet2 < 0) novaQuantidadeJet2 = 0;

                    // Repetir para Jet3
                    let totalAmpliacoesJet3 = 0;
                    let totalReducoesJet3 = 0;
                    periods.forEach(function(prevPeriod) {
                        if (prevPeriod < p) {
                            if ((parseInt(prevPeriod) + 3) <= p) {
                                const prevAmpliacoesInput = document.getElementById(`ampliacoes_jet3_${prevPeriod}`);
                                if (prevAmpliacoesInput) {
                                    totalAmpliacoesJet3 += parseInt(prevAmpliacoesInput.value) || 0;
                                }
                            }
                            if ((parseInt(prevPeriod) + 2) <= p) {
                                const prevReducoesInput = document.getElementById(`reducoes_jet3_${prevPeriod}`);
                                if (prevReducoesInput) {
                                    totalReducoesJet3 += parseInt(prevReducoesInput.value) || 0;
                                }
                            }
                        }
                    });
                    let novaQuantidadeJet3 = quantidadeBaseJet3 + totalAmpliacoesJet3 - totalReducoesJet3;
                    if (novaQuantidadeJet3 < 0) novaQuantidadeJet3 = 0;

                    // Atualizar os inputs de quantidade para cada Jet
                    const quantidadeJet1Input = document.getElementById(`quantidade_jet1_${p}`);
                    const quantidadeJet2Input = document.getElementById(`quantidade_jet2_${p}`);
                    const quantidadeJet3Input = document.getElementById(`quantidade_jet3_${p}`);

                    if (quantidadeJet1Input) quantidadeJet1Input.value = novaQuantidadeJet1;
                    if (quantidadeJet2Input) quantidadeJet2Input.value = novaQuantidadeJet2;
                    if (quantidadeJet3Input) quantidadeJet3Input.value = novaQuantidadeJet3;
                }
            });

            // Recalcular capacidades após atualizar quantidades
            recalcularCapacidadeDisponivel();
        }

        // Função para recalcular a capacidade disponível considerando turnos, quantidades de máquinas e capacidade terceirizada para cada tipo de Jet
        function recalcularCapacidadeDisponivel() {
            periods.forEach(function(period) {
                const turnosInput = document.getElementById(`numero_turnos_${period}`);
                const quantidadeJet1Input = document.getElementById(`quantidade_jet1_${period}`);
                const quantidadeJet2Input = document.getElementById(`quantidade_jet2_${period}`);
                const quantidadeJet3Input = document.getElementById(`quantidade_jet3_${period}`);
                const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);
                const capacidadeInstaladaInput1 = document.getElementById(`capacidade_instalada_jet1_${period}`);
                const capacidadeInstaladaInput2 = document.getElementById(`capacidade_instalada_jet2_${period}`);
                const capacidadeInstaladaInput3 = document.getElementById(`capacidade_instalada_jet3_${period}`);

                const capacidadeDisponivelInput1 = document.getElementById(`capacidade_disponivel_1_${period}`);
                const capacidadeDisponivelInput2 = document.getElementById(`capacidade_disponivel_2_${period}`);

                if (turnosInput && quantidadeJet1Input && quantidadeJet2Input && quantidadeJet3Input && capacidadeTerceirizadaInput && capacidadeDisponivelInput1 && capacidadeDisponivelInput2) {
                    let numeroTurnos = parseInt(turnosInput.value) || 0;
                    let quantidadeJet1 = parseInt(quantidadeJet1Input.value) || 0;
                    let quantidadeJet2 = parseInt(quantidadeJet2Input.value) || 0;
                    let quantidadeJet3 = parseInt(quantidadeJet3Input.value) || 0;
                    let capacidadeTerceirizadaAtual = parseInt(capacidadeTerceirizadaInput.value) || 0;

                    // Calcular capacidade instalada para cada Jet 140/4.5 * quantidadeJet1*480
                    let capacidadeInstaladaJet1 = quantidadeJet1 * 140/4.5 * numeroTurnos * 480; // Ajuste os fatores conforme necessário
                    let capacidadeInstaladaJet2 = quantidadeJet2 * 140/4.5 * numeroTurnos * 120;
                    let capacidadeInstaladaJet3 = quantidadeJet3 * 140/4.5 * numeroTurnos * 30;

                    // Atualizar os campos de capacidade instalada
                    if (capacidadeInstaladaInput1) capacidadeInstaladaInput1.value = capacidadeInstaladaJet1.toFixed(0);
                    if (capacidadeInstaladaInput2) capacidadeInstaladaInput2.value = capacidadeInstaladaJet2.toFixed(0);
                    if (capacidadeInstaladaInput3) capacidadeInstaladaInput3.value = capacidadeInstaladaJet3.toFixed(0);

                    // Calcular capacidade disponível total
                    let capacidadeInstaladaTotal = capacidadeInstaladaJet1 + capacidadeInstaladaJet2 + capacidadeInstaladaJet3;
                    let capacidadeDisponivelTotal = capacidadeInstaladaTotal + capacidadeTerceirizadaAtual;

                    // Atualizar os campos de capacidade disponível
                    capacidadeDisponivelInput1.value = capacidadeDisponivelTotal.toFixed(0);
                    capacidadeDisponivelInput2.value = capacidadeDisponivelTotal.toFixed(0);
                }
            });
        }

        // Adicionar event listeners para os inputs
        periods.forEach(function(period) {
            const turnosInput = document.getElementById(`numero_turnos_${period}`);
            const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);

            const quantidadeJet1Input = document.getElementById(`quantidade_jet1_${period}`);
            const quantidadeJet2Input = document.getElementById(`quantidade_jet2_${period}`);
            const quantidadeJet3Input = document.getElementById(`quantidade_jet3_${period}`);

            const ampliacoesJet1Input = document.getElementById(`ampliacoes_jet1_${period}`);
            const ampliacoesJet2Input = document.getElementById(`ampliacoes_jet2_${period}`);
            const ampliacoesJet3Input = document.getElementById(`ampliacoes_jet3_${period}`);

            const reducoesJet1Input = document.getElementById(`reducoes_jet1_${period}`);
            const reducoesJet2Input = document.getElementById(`reducoes_jet2_${period}`);
            const reducoesJet3Input = document.getElementById(`reducoes_jet3_${period}`);

            if (turnosInput) {
                turnosInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            if (capacidadeTerceirizadaInput) {
                capacidadeTerceirizadaInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            // Quantidade inputs
            if (quantidadeJet1Input) {
                quantidadeJet1Input.addEventListener('input', recalcularCapacidadeDisponivel);
            }
            if (quantidadeJet2Input) {
                quantidadeJet2Input.addEventListener('input', recalcularCapacidadeDisponivel);
            }
            if (quantidadeJet3Input) {
                quantidadeJet3Input.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            // Ampliações inputs
            if (ampliacoesJet1Input) {
                ampliacoesJet1Input.addEventListener('input', recalcularQuantidades);
            }
            if (ampliacoesJet2Input) {
                ampliacoesJet2Input.addEventListener('input', recalcularQuantidades);
            }
            if (ampliacoesJet3Input) {
                ampliacoesJet3Input.addEventListener('input', recalcularQuantidades);
            }

            // Reduções inputs
            if (reducoesJet1Input) {
                reducoesJet1Input.addEventListener('input', recalcularQuantidades);
            }
            if (reducoesJet2Input) {
                reducoesJet2Input.addEventListener('input', recalcularQuantidades);
            }
            if (reducoesJet3Input) {
                reducoesJet3Input.addEventListener('input', recalcularQuantidades);
            }
        });

        // Inicialmente calcular as quantidades e capacidades ao carregar a página
        recalcularQuantidades();
    });
</script>



{% endblock %}
