<!-- templates/tecelagem.html -->
{% extends 'base.html' %}
{% block title %}Plano de Tecelagem - PCP Game{% endblock %}
{% block content %}
<h2 class="mb-4">Plano de Tecelagem</h2>
<p>Você está atualmente no período {{ periodo_atual }}.</p>
<form method="POST">
    {{ form.hidden_tag() }}

    <!-- Tabela Capacidade Necessária -->
    <h4>Capacidade Necessária</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                {% for period in periods %}
                    <th>{{ period }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Capacidade Disponível</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_disponivel_1_{{ period }}" 
                           value="{{ capacidade_disponivel['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Necessária</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_necessaria_{{ period }}" 
                           value="{{ capacidade_necessaria['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Colméia</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="colmeia_horas_{{ period }}" 
                           value="{{ colmeia_horas['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Piquet</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="piquet_horas_{{ period }}" 
                           value="{{ piquet_horas['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Maxim</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="maxim_horas_{{ period }}" 
                           value="{{ maxim_horas['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Setup</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="setup_{{ period }}" 
                           value="{{ setup['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Produtividade</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="produtividade_{{ period }}" 
                           value="{{ produtividade['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <!-- Tabela Capacidade Disponível -->
    <h4>Capacidade Disponível</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                {% for period in periods %}
                    <th>{{ period }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Capacidade Disponível</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_disponivel_2_{{ period }}" 
                           value="{{ capacidade_disponivel['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Instalada</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="capacidade_instalada_{{ period }}" 
                           value="{{ capacidade_instalada['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Número de Turnos</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <!-- Campo somente leitura para períodos passados -->
                    <input type="number" class="form-control numero-turnos" 
                           id="numero_turnos_{{ period }}"
                           name="{{ numero_turnos['Teares'][period].name }}"
                           value="{{ numero_turnos['Teares'][period].data }}" readonly>
                    {% else %}
                        {{ numero_turnos['Teares'][period](class="form-control numero-turnos", id="numero_turnos_" ~ period) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Capacidade Terceirizada</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <input type="number" class="form-control" 
                           id="capacidade_terceirizada_{{ period }}"
                           name="{{ capacidade_teceirizada['Teares'][period].name }}"
                           value="{{ capacidade_teceirizada['Teares'][period].data|int }}" readonly>
                    {% else %}
                        {{ capacidade_teceirizada['Teares'][period](class="form-control capacidade-terceirizada", id="capacidade_terceirizada_" ~ period, step=420) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <!-- Tabela Capacidade Futura -->
    <h4>Ampliações e Reduções</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                {% for period in periods %}
                    <th>{{ period }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Linha para Quantidade -->
            <tr>
                <th>Quantidade</th>
                {% for period in periods %}
                <td>
                    <input type="number" class="form-control" 
                           id="quantidade_{{ period }}" 
                           value="{{ quantidade['Teares'][period].data }}" readonly>
                </td>
                {% endfor %}
            </tr>
            <!-- Linha para Ampliações -->
            <tr>
                <th>Ampliações</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <!-- Campo somente leitura para períodos passados -->
                    <input type="number" class="form-control" 
                           id="ampliacoes_{{ period }}"
                           name="{{ ampliacoes['Teares'][period].name }}"
                           value="{{ ampliacoes['Teares'][period].data|int }}" readonly>
                    {% else %}
                        {{ ampliacoes['Teares'][period](class="form-control", id="ampliacoes_" ~ period, step=1) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <!-- Linha para Reduções -->
            <tr>
                <th>Reduções</th>
                {% for period in periods %}
                <td>
                    {% if period <= periodo_atual %}
                    <!-- Campo somente leitura para períodos passados -->
                    <input type="number" class="form-control" 
                           id="reducoes_{{ period }}"
                           name="{{ reducoes['Teares'][period].name }}"
                           value="{{ reducoes['Teares'][period].data|int }}" readonly>
                    {% else %}
                        {{ reducoes['Teares'][period](class="form-control", id="reducoes_" ~ period, step=1) }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


    <!-- Botão para submeter o formulário -->
    <button type="submit" class="btn btn-primary">Salvar Plano de Teares</button>
</form>

<!-- JavaScript para atualizar a Capacidade Disponível -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const periods = JSON.parse('{{ periods|tojson }}');
        let periodo_atual = '{{ periodo_atual }}';
        const capacidadeInicial = {};
        const capacidadeTerceirizadaInicial = {};

        // Salvar o valor inicial de capacidade disponível e capacidade terceirizada para cada período
        periods.forEach(function(period) {
            const capacidadeInput1 = document.getElementById(`capacidade_disponivel_1_${period}`);
            const capacidadeInput2 = document.getElementById(`capacidade_disponivel_2_${period}`);
            const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);

            if (capacidadeInput1 && capacidadeInput2 && capacidadeTerceirizadaInput) {
                capacidadeInicial[period] = {
                    input1: parseInt(capacidadeInput1.value) || 0,
                    input2: parseInt(capacidadeInput2.value) || 0
                };
                capacidadeTerceirizadaInicial[period] = parseInt(capacidadeTerceirizadaInput.value) || 0;
            }
        });

        // Função para recalcular a capacidade disponível considerando turnos, quantidade de máquinas e capacidade terceirizada
        function recalcularCapacidadeDisponivel() {
            periods.forEach(function(period) {
                // Selecionar os campos de número de turnos, quantidade de máquinas e capacidade terceirizada
                const turnosInput = document.getElementById(`numero_turnos_${period}`);
                const quantidadeInput = document.getElementById(`quantidade_${period}`);
                const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);

                // Selecionar os campos de capacidade disponível
                const capacidadeDisponivelInput1 = document.getElementById(`capacidade_disponivel_1_${period}`);
                const capacidadeDisponivelInput2 = document.getElementById(`capacidade_disponivel_2_${period}`);

                if (turnosInput && quantidadeInput && capacidadeTerceirizadaInput && capacidadeDisponivelInput1 && capacidadeDisponivelInput2) {
                    // Obter o valor inicial de turnos
                    let turnosIniciais = parseInt(turnosInput.getAttribute('value')) || 0;
                    // Obter o valor atual de turnos
                    let numeroTurnos = parseInt(turnosInput.value) || 0;
                    // Obter a quantidade de máquinas
                    let quantidade = parseInt(quantidadeInput.value) || 0;

                    // Calcular a diferença de turnos
                    let diferencaTurnos = numeroTurnos - turnosIniciais;

                    // Inicializar variáveis para a nova capacidade
                    let novaCapacidade1 = capacidadeInicial[period].input1;
                    let novaCapacidade2 = capacidadeInicial[period].input2;

                    // Somar capacidade apenas se a quantidade de máquinas for maior que 0
                    if (quantidade > 0) {
                        novaCapacidade1 += diferencaTurnos * (140 * quantidade);
                        novaCapacidade2 += diferencaTurnos * (140 * quantidade);
                    }

                    // Obter o valor inicial de capacidade terceirizada
                    let capacidadeTerceirizadaInicialValor = capacidadeTerceirizadaInicial[period];
                    // Obter o valor atual de capacidade terceirizada
                    let capacidadeTerceirizadaAtual = parseInt(capacidadeTerceirizadaInput.value) || 0;
                    // Calcular a diferença de capacidade terceirizada
                    let diferencaCapacidadeTerceirizada = capacidadeTerceirizadaAtual - capacidadeTerceirizadaInicialValor;

                    // Atualizar os campos de capacidade disponível considerando a capacidade terceirizada
                    capacidadeDisponivelInput1.value = novaCapacidade1 + diferencaCapacidadeTerceirizada;
                    capacidadeDisponivelInput2.value = novaCapacidade2 + diferencaCapacidadeTerceirizada;
                }
            });
        }

        // Adicionar event listeners para os inputs de número de turnos, quantidade de máquinas e capacidade terceirizada
        periods.forEach(function(period) {
            const turnosInput = document.getElementById(`numero_turnos_${period}`);
            const capacidadeTerceirizadaInput = document.getElementById(`capacidade_terceirizada_${period}`);
            const quantidadeInput = document.getElementById(`quantidade_${period}`);

            if (turnosInput) {
                turnosInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            if (capacidadeTerceirizadaInput) {
                capacidadeTerceirizadaInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }

            if (quantidadeInput) {
                quantidadeInput.addEventListener('input', recalcularCapacidadeDisponivel);
            }
        });

        // Inicialmente calcular a capacidade disponível ao carregar a página
        recalcularCapacidadeDisponivel();
    });
</script>


{% endblock %}
